<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.testapp.tictacserver.dao.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyColumn="id">
        insert into users(
            login,
            status,
            token,
            ip,
            port
        )
        values (
            #{user.login},
            #{user.status},
            #{user.token},
            #{user.ip},
            #{user.port}
        )
    </insert>

    <select id="select" resultType="space.testapp.tictacserver.model.User">
        select
            id,
            login,
            status,
            token,
            ip,
            port
        from users
        where login = #{login}
    </select>

    <update id="update">
        update users
        set
            login = #{user.login},
            status = #{user.status},
            token = #{user.token},
            ip = #{user.ip},
            port = #{user.port},
        where id = #{user.id}
    </update>

    <update id="removeToken">
        update users
        set
            token = '',
            status = #{user.status}
        where token = #{user.token}
    </update>
</mapper>